*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* font-family: "Poppins", serif; */
}
:root{
    --white:#ffffff;
    --black:#000000;
    --slateblue:#4D47C3;
    --shadow:rgba(77, 71, 195, 0.4);
    --cornflowerblue:#A7A3FF;
    --lavender:#F0EFFF;
    --darkgray:#B0B0B0;
    --silver:#B5B5B5;
}
img{
    max-width: 100%;
}
.container{
    padding:0  42px;
    margin: auto;
    font-family: "Poppins", serif;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
header{
    padding: 30px 0;
}
header .container a{
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.login{
    background-color: var(--white);
}
.login .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    min-height:85vh;
    font-family: "Poppins", serif;
}
.login .container .content-box h1{
    font-size: 50px;
    font-weight: 600;
}
.login .container .content-box  .heading p{
    margin:10px 0 40px 0;
    font-size: 35px;
    font-weight: 500;
}
.login .container .content-box>p{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}
.login .container .content-box p a{
    font-size: 16px;
    font-weight: 600;
    color: var(--slateblue);
}
.login .container .form-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login .container .form-box h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--black);
}
.login .container .form-box form input:not(input[type="submit"]){
    display:block;
    width: 280px;
    margin: 15px 0;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--lavender);
    color: var(--black);
}
.login .container .form-box form input[type="submit"]{
    display:block;
    width: 100%;
    margin: 20px 0;
    padding: 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    background-color: var(--slateblue);
    color: var(--white);
    box-shadow: 0px 4px 61px 0 var(--shadow);
}
.login .container .form-box form input::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: var(--cornflowerblue);
}
.login .container .form-box form .forgot-password{
    text-align: end;
}
.login .container .form-box form .forgot-password a{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: var(--darkgray);
}
.login .container .form-box .thirdparty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.login .container .form-box .thirdparty p{
    font-size: 16px;
    font-weight: 500;
    color: var(--silver);
}
.login .container .form-box .thirdparty .icons{
    display: inline-flex;
    gap: 20px;
}
.login .container .form-box .thirdparty .icons img{
    width: 41px;
}
@media (max-width:768px) {
    .login .container{
        flex-wrap: wrap;
        justify-content:center;
    }
}